{% extends 'emails/base.html.twig' %}

{% trans_default_domain "email" %}

{% block body %}

    <!-- BEGIN PARAGRAPHS -->
    {% set TextContent %}
        <p>{{ 'reset_password.description_1' | trans({'%email%': user.email},'email',user.locale) }}</p>
        <p>{{ 'reset_password.description_2' | trans({},'email',user.locale) }}</p>
    {% endset %}
    {% include 'emails-ph/includes/body-text-block.html.twig' with {'text': TextContent} %}
    <!-- END PARAGRAPHS -->


    <!-- BEGIN BUTTON -->
    {% set buttonTitle %}
        {{ 'reset_password.button.title' | trans }}
    {% endset %}
    {% include 'emails-ph/includes/body-button-block.html.twig' with {'buttonTitle': buttonTitle, 'buttonUrl': resetPasswordUrl} %}
    <!-- END BUTTON -->


    <!-- BEGIN PARAGRAPH -->
    {% set TextContent %}
        <p>{{ 'reset_password.description_3'| trans }}</p>
        <div style="font-weight: bold;letter-spacing: normal;line-height: 115%;text-align: center;text-decoration: none;color: #000000;">{{ resetPasswordUrl }}</div>
    {% endset %}
    {% include 'emails-ph/includes/body-text-block.html.twig' with {'text': TextContent} %}
    <!-- END PARAGRAPH -->

{% endblock %}